button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgb(75, 75, 75);
  color: #fff;
  font-size: 3rem ;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
}

button:hover{
  background: rgb(32, 29, 44);
}

button:active{
  background: #ff006a71;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  padding: 25px;
}

#calculetor{
  font-family: 'Arial',sans-serif;
  background: rgb(32, 32, 32);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  background: rgb(122, 122, 122);
  border: none;
  color: #fff;
}

body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(0, 0, 0);
}

.oparator_btn{
  background-color: rgb(255, 174, 0);
}

.oparator_btn:hover{
  background-color: rgba(255, 174, 0, 0.781);

}

.oparator_btn:active{
  background:rgb(255, 153, 0);
}

